.footer {
    background-color: $purple-500;
    color: $white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: left;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-column p {
    line-height: 1.5;
}

.footer-column p, .footer-column ul, .footer-column a {
    color: $white;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column .social-media {
    display: flex;
    gap: 10px;
}

.footer-column .social-media a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 50%;
    color: $purple-500;
    font-size: 18px;
}

.footer-copyright {
    text-align: center;
    padding-top: 20px;
    font-size: 0.9em;
    color: lighten($white, 30%);
    border-top: 1px solid $purple-100;
    margin-top: 20px;
}
