.public-procurement-page {

    .page-header {
        background-image: url("../images/page-bg/javne-nabavke.jpg");
    }
}

.procurement-documents {
  padding: $space-lg 0;
  background-color: $light-grey-200;

  .section-title {
    font-family: Forum, $font-primary;
    font-size: $font-size-xxl;
    color: $dark-text;
    text-align: center;
    margin-bottom: $space-md;
  }

  .document-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $space-sm;
    justify-content: center;

    li {
      flex: 0 0 calc(50% - $space-sm);
      display: flex;
      align-items: center;
      padding: $space-sm;
      background-color: $white;
      border: 1px solid $grey;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      a {
        font-family: $font-alt;
        font-size: $font-size-base;
        color: $teal-600;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: $space-xs;

        &:hover {
          color: $teal-800;
        }

        &::before {
          content: "\1F4C4"; // Unicode for a document icon
          font-size: 1.5rem;
          color: $grey-700;
        }
      }
    }
  }
}
